/* NAVBAR-START */
body {
    margin: 0;
    font-family: cursive;
    padding: 0;
}

.navbar-div {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 15px rgb(43, 42, 42);
}

.nav-logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 20px;
}

.logo {
    width: 400px;
    height: 90px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 23px;
    margin-left: 55px;
    margin-top: 30px;
    height: 30px;
}

#navbar-a1 {
    margin-left: 160px;
}

a:hover {
    color: #3381ff;
}

/* NAVBAR_END */



header {
    font-size: 50px;
    margin-top: 40px;

    color: black;
    text-align: center;

    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
}

.main-content {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.contact-column {
    flex: 1;
    padding: 0 20px;
}

.contact-info {
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.contact-info h2 {
    font-size: 24px;
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.contact-info p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact-form {
    text-align: center;
    margin: 20px 0;
    margin-bottom: 60px;
}

.contact-form form {
    display: inline-block;
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #f8f8f8;
    font-family: 'Courier New', Courier, monospace;

    letter-spacing: 1px;
}

.contact-form label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form input[type="submit"] {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form input[type="submit"]:hover {
    background-color: #236adb;
}

.maps {
    width: 80%;
    height: 400px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 60px;
}

/* FOOTER-START */
.footer {
    width: 100%;
    background: #00121b;
    display: block;
}

.inner-footer {
    display: flex;
    justify-content: center;
}

.footer-items {
    color: #fff;
}

.footer-items-links {
    margin-top: 20px;
    width: 180px;
}


.footer-items-para {
    width: 450px;
    margin: 40px 100px 0px 0px;
}

.footer-items-contact {
    margin-left: 95px;
    margin-top: 20px;
}


.footer-items h3 {
    margin-left: 20px;
}

#footer-h3 {
    margin-left: 120px;
}


ul {
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
}

ul a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}

ul a:hover {
    color: #279EFF;
}

footer ul li {
    margin: 10px 0;
    height: 25px;
}

.footer-bottom {
    padding: 15px;
    background: #00121b;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

/* FOOTER-END */



@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-div {
        display: block;
    }

    .navbar a {
        margin-left: 0;
        margin-top: 15px;
        font-size: 18px;
    }

    #navbar-a1 {
        margin-left: 0;
    }

    header {
        font-size: 40px;
        margin-top: 50px;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-column {
        padding: 20px;
        width: 100%;
    }

    .contact-form {
        margin-bottom: 40px;
    }

    .contact-form form {
        padding: 15px;
    }

    .inner-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-items {
        margin: 20px 0;
    }

    .footer-items-links,
    .footer-items-contact {
        margin: 10px 0;
    }

    #footer-h3 {
        margin-left: 80px;
    }

    .footer-items-para {
        margin: 0;
    }

    .footer-items-para p {
        margin: 20px 15px;
    }

    .footer-items-contact {
        margin-left: 0;
    }

    .footer-bottom {
        padding: 15px;
    }
}